[submodule "lvdt"]
	path = lvdt
	url = personal:jjholt/lvdt.git
[submodule "jcs-visualisation"]
	path = jcs-visualisation
	url = imperial:ImperialCollegeLondon/jcs-visualisation.git
[submodule "data-processing"]
	path = data-processing
	url = personal:jjholt/data-processing.git
