[submodule "lvdt"]
	path = lvdt
	url = git@github.com:jjholt/lvdt.git
[submodule "jcs-visualisation"]
	path = jcs-visualisation
	url = git@github.com:ImperialCollegeLondon/jcs-visualisation.git
[submodule "data-processing"]
	path = data-processing
	url = git@github.com:jjholt/data-processing.git
